* {
    box-sizing: border-box;
    background-color: rgb(99, 233, 10);
}

.slider{
    max-width: 500px;
    position: relative;
    margin: auto;
}

img{
    width: 100%;
    overflow: hidden;
}
.fade {
    animation-name: fade;
    animation-duration: 500ms;
}

@keyframes fade {
    from { opacity: 1 ; }
    to { opacity: 0 ;}
}